

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
   padding: 0;
}
html {
    scroll-behavior: smooth;
  }


body{

    font-family: 'poppins', sans-serif;
    background: #010615; 
    animation: fadeIn 1s ease-in-out;

}

.jafar{
    text-align: left;
}

header{
    position:sticky;
    top: 0;
    z-index: 10;
}
.fullstack{
 text-align: left;
 opacity: 0;
 transform:translateY(2rem);
 animation: fadeInup 2s forwards 4s;
}

span {
    color: gold;
}


.image1{
    
  width: 395px;
  height: max-content;
  opacity: 66%;
}

.intro{
    text-align: left;
}

.learnMore{

width: 200px;
}




.containerMiddle{
   background-color: rgb(58, 14, 101);
   padding-top: 50px;
   padding-bottom: 50px;
   

}

.section-1 {
   padding: 40px;
	border-radius: 10px;
	background-size: cover;
  
}
.myprevious-h5{
    text-align: center;
    color: white;
}
.cardRecent {
	color:white;
    background-color: black;
	margin: 20px;
    outline: auto;
	border-radius: 20px;
	border-width: 3px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgb(51, 0, 255);
	outline-offset: -2px;
 	transition: all 0.5s ease-in-out;
}
.cardRecent:hover {
	transform: scale(1.2);
	z-index: 5;
}

nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 5px rgb(51, 0, 255) ;
    z-index: 20;
}



/* More About Me button start here */


:root{
    --clr-neon:#28b485;
}
* , ::before,::after{
    box-sizing: border-box;
}

.neon-button{
    font-size:1.8em;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: .25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3) ,
     0 0 0.45em var(--clr-neon);
     box-shadow: inset 0 0 0.5em 0 var(--clr-neon),
     0 0 0.5em 0 var(--clr-neon);
     position: relative;
     text-align: left;
    opacity: 0;
    transform:translateY(2rem);
    animation: fadeInup 2s forwards 4s;
     

}
.neon-button::before{
    pointer-events: none;
    content: '';
    position: absolute;
    background-color: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1 , 0.35);
    filter: blur(1.5em);
    opacity: 0.75;
    
}

.neon-button::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
    opacity: 0;
}

.neon-button:hover, .neon-button:focus{
    color: var(--clr-bg);
    text-shadow: none;
}
.neon-button:hover::before,
.neon-button:focus::before{
opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after{
opacity: 1;
}



/* More About Me button End here */

.card-img-top{
    z-index: 2;
}



.h4middle{
    margin-bottom: 50px;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}

/* Project Card start here */

.previousprojects{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 90vh;
   flex-wrap: wrap;
   width: auto;
   
   
}

.boxprojects{
    position: relative;
    width:300px;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#010615;
    margin: 50px;
    transition: all 0.5s ease-in-out;
   
}
.boxprojects:before{
   
    content:'';
    position: absolute;
    top: -2px;
    left:-2px;
    right: -2px;
    bottom:-2px;
    background: #fff;
    z-index: -1;
    
}
.boxprojects:after{
    content: '';
    position: absolute;
    top: -2px;
    left:-2px;
    right: -2px;
    bottom:-2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.boxprojects .glass{
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    height:100%;
    display: block;
    background-color: rgba(255,255,255,.1);
    pointer-events: none;
   
}
.boxprojects .projectscontent{
   padding: 20px;
   color: #fff;
}



.first-card::before,.first-card::after{
   background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}

.second-card::before,.second-card::after{
    background:linear-gradient(235deg,#ff005e,#010615,#fbff00);
 }
 
 .third-card::before,.third-card::after{
    background: linear-gradient(235deg,#772aff,#010615,#2196f3);
 }
 
 .heading-secondary {
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 700;
	
	background-image: linear-gradient(to right, #7ed56f, #28b485);
	 background-clip: text;
	-webkit-background-clip: text;
	color: #28b485;
	margin-bottom: .8em;
  }
  .heading-secondary:hover {
	transform: skewY(3deg) skewX(15deg) scale(1.1);
	text-shadow: 0.5rem 1rem 2rem #7ed56f;
  }

  .boxprojects:hover {
	transform: scale(1.2);
	z-index: 2;
   
}

.previousprojects a{
  text-decoration: none;
}
/* Project Card end here */

.h5previousproject{
    text-align: center;
    margin-top: 6rem;
}
.contactMe{
  
    margin-bottom:50px;
    padding: 50px;
}
.contactMeCards{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.h2contactMe{
    
    text-align: center;
    margin-bottom: 50px;

}

.ContactButton{
    width: 300px;
    font-size: 36px;
    align-content: center;
        
}

.material-icons{
    margin-right: 5px;
}
.fa-github{
    margin-right: 5px;
}

.Gmail-Button{
    --clr-neon:rgb(216, 0, 0);
 width: 300px;
 font-size: 36px;
 text-align: center;
}

.LinkedIn-Button{
    --clr-neon:rgb(0, 102, 255);
 width: 300px;
 font-size: 36px;
 text-align: center;
}

.Github-Button{
    --clr-neon:rgb(255, 255, 255);
 width: 300px;
 font-size: 36px;
 text-align: center;
}
.material-icons{
    position: absolute;
    margin-top: 11px;
    margin-left:-38px;
}

footer{
    
    margin-top: 30px;
        color: white;
           align-items: center;
    text-align: center;
    
}

/* Back To Top Anchor start here */

.to-top{
    
    align-items: center;
    text-align: center;
	color:white;
	padding-top:1.8em;
	display:inline-block;
	position:relative;
	border-color:white;
	text-decoration:none;
	transition:all .3s ease-out;
}
.to-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em white;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:pink;
	border-color:pink;
}
.to-top:hover:before{
	transform: rotate(360deg);
}

  /* Back To Top Anchor End here */
header a:hover {
    background-color: rgb(96, 167, 221);
   
    border-radius: 8px;
  }


.unlistBottom{
    align-items: center;
}

  /* Typing start here */
h1{
    font-size: 2rem;
    font-family:"source Code pro";
    position: relative;
    width: max-content;
}
h1::before, h1::after  {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left:0;
}

h1::before{
    background: #010615;
    animation: typewriter 3s steps(23) 1s forwards;
}

h1::after{
    width: 0.125em;
    background-color: rgb(48, 116, 250);
    animation:
     typewriter 3s steps(23) 1s forwards,
      jump 750ms steps(23) infinite ;
}


@keyframes typewriter {
       to{
        left: 100%;
       }

}
@keyframes jump{
    to {
        background: transparent;
    }
}

@keyframes fadeInup{
    to{
        opacity: 1;
        transform: translateY(0);
    }

}






/* Typing End here */



@keyframes fadeIn {
    from{
         opacity: 0;
         transform:translateY(-2em)
    }
    to {
         opacity: 1;
         transform: translateY(0);
    }
}

/* ___________________________________ Media Query start here_______________________________________ */



@media (max-width:576px) {
    .contactMeCards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .page2firstContainer{
        flex-direction: column;
        align-items: right;
        
     
    }
    .unlistBottom{
      justify-content: center;
    }

    .ProjectsulContainer{
        flex-direction: column;
    
    }
    .pLanguages{
        margin-left: -20px;

    }
    
    .positionStarted{
        font-size:small;
    }
   }


@media (max-width:676px){
.image1{
    width: 185px;
    height: 190px;
}
}


@media (max-width:485px) {
    .image1{
      width: 85px;
      height: 85px;
    }
}


@media (max-width:380px) {
    .image1{
      width: 50px;
      height: 50px;
    }
}

@media (max-width:890px) {
    .image1{
      width: 10rem;
      height: 10rem;
    }
}

@media (max-width:680px) {
    .image1{
      display: none;
    }
    .jafar{
        font-size: 24px;
    }
    .fullstack{
        font-size: 16px
    }
}
@media (max-width:500px) {
  
    .heading-secondary{
        font-size: 1.8rem;
    }
}
@media (max-width:410px) {
  
    .jafar{
        font-size: 16px;
    }
    .fullstack{
        font-size: 12px
    }
    .learnMore{
        font-size: 12px;
    }
    .mystatusP{
        width: 16rem;
    }
   
}

@media (max-width:344px) {
   
    .jafar{
        font-size: 14px;
    }
    .fullstack{
        font-size: 10px
    }
    .learnMore{
        font-size: 12px;
    }
    .mystatusP{
        width: 10rem;
    }
    .myCurrentStatus{
        
        text-align: left;
    }
}

/* ___________________________________ Media Query End here_______________________________________ */


/*---------------------------------------- Page 2 (About Me)---------------------------------------- */


.myCurrentStatus{
    width: 18rem;
    text-align: left;
}
.pLanguages {
    margin-top: 12rem;
}

.profilePic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
}



.myCurrentPosH5{
    margin-left: -3px;
}


.positionsAndDes{
    font-weight: bolder;
    font-size: larger;
}


/* -------------------Download button start here-------------------------- */

.dnbtn {
    border: 2px solid white;
    border-radius: 50px;
    position: absolute;
    color: #0ff;
    display: inline;
    transform: translate(-50%, -50%);
    padding: 25px 0 0 0;
    width: 50px;
    height: 25px;
    text-decoration: none;
    transition: .3s;
  }
  
  .cloudDownload{
    width: 2rem;
    height: 2rem;
    margin-top: -30px;
  }
  .dnbtn:before {
	font-family: FontAwesome;
	font-style: normal;
	content: '\f019';
	font-size: 26px;
	color: white;
	position: absolute;
	transform: translate(-50%, -50%);
	transition: 0.3s;
}
  
  .dnbtn:hover:before {
    display: none;
  }
  
  .dnbtn:hover:after {
    font-family: Prompt;
    content: 'Download My Resume';
    color: white;
    font-size: 18px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: .3s;
    animation: fadein .3s;
  }
  
  .dnbtn:hover {
    width: 390px;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.facyButton{
    position: relative;
    margin: 50px;
    
}




/*------------------- Download button end here--------------------------- */



/* Experiance Collapse button start here */


/* Experiance Collapse button End here */

.my-Resume:hover{
    background-color: white;
    color: black;
}
.experiance{
    background-color: rgb(255, 255, 255);
    color: black;
    opacity:70%;
    border-radius: 12px;
}

.experiancesContainer p,h5,ul{
 margin-left: 20px;
}
.experiancesContainer{
    margin-top: 100px;
    margin-bottom: 100px;
    z-index: 5;
}


.mystatusP{
    margin: 0;
}




/* Background animation fireflies */





 
  .firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
  }
  .firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }
  .firefly::before {
    background: #010615;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
  }
  
  .firefly:nth-child(1) {
    animation-name: move1;
  }
  .firefly:nth-child(1)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(1)::after {
    animation-duration: 13s, 10458ms;
    animation-delay: 0ms, 2036ms;
  }
  
  @keyframes move1 {
    0% {
      transform: translateX(46vw) translateY(16vh) scale(0.49);
    }
    3.8461538462% {
      transform: translateX(-44vw) translateY(0vh) scale(0.28);
    }
    7.6923076923% {
      transform: translateX(0vw) translateY(31vh) scale(0.54);
    }
    11.5384615385% {
      transform: translateX(36vw) translateY(16vh) scale(0.3);
    }
    15.3846153846% {
      transform: translateX(-10vw) translateY(47vh) scale(0.61);
    }
    19.2307692308% {
      transform: translateX(-12vw) translateY(-45vh) scale(0.39);
    }
    23.0769230769% {
      transform: translateX(12vw) translateY(4vh) scale(0.56);
    }
    26.9230769231% {
      transform: translateX(-41vw) translateY(45vh) scale(0.39);
    }
    30.7692307692% {
      transform: translateX(27vw) translateY(-12vh) scale(0.59);
    }
    34.6153846154% {
      transform: translateX(-32vw) translateY(-5vh) scale(0.79);
    }
    38.4615384615% {
      transform: translateX(-6vw) translateY(-35vh) scale(0.91);
    }
    42.3076923077% {
      transform: translateX(-46vw) translateY(-30vh) scale(0.83);
    }
    46.1538461538% {
      transform: translateX(-13vw) translateY(48vh) scale(0.78);
    }
    50% {
      transform: translateX(-9vw) translateY(-39vh) scale(0.67);
    }
    53.8461538462% {
      transform: translateX(-3vw) translateY(44vh) scale(0.94);
    }
    57.6923076923% {
      transform: translateX(25vw) translateY(-48vh) scale(0.53);
    }
    61.5384615385% {
      transform: translateX(-21vw) translateY(-17vh) scale(0.7);
    }
    65.3846153846% {
      transform: translateX(36vw) translateY(-3vh) scale(0.43);
    }
    69.2307692308% {
      transform: translateX(-46vw) translateY(-17vh) scale(0.63);
    }
    73.0769230769% {
      transform: translateX(-24vw) translateY(-41vh) scale(0.33);
    }
    76.9230769231% {
      transform: translateX(-35vw) translateY(18vh) scale(0.61);
    }
    80.7692307692% {
      transform: translateX(40vw) translateY(-28vh) scale(0.99);
    }
    84.6153846154% {
      transform: translateX(8vw) translateY(-41vh) scale(0.53);
    }
    88.4615384615% {
      transform: translateX(0vw) translateY(-2vh) scale(0.42);
    }
    92.3076923077% {
      transform: translateX(21vw) translateY(1vh) scale(0.45);
    }
    96.1538461538% {
      transform: translateX(-37vw) translateY(-5vh) scale(0.75);
    }
    100% {
      transform: translateX(9vw) translateY(21vh) scale(0.51);
    }
  }
  .firefly:nth-child(2) {
    animation-name: move2;
  }
  .firefly:nth-child(2)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(2)::after {
    animation-duration: 16s, 5721ms;
    animation-delay: 0ms, 5031ms;
  }
  
  @keyframes move2 {
    0% {
      transform: translateX(-41vw) translateY(21vh) scale(0.77);
    }
    3.8461538462% {
      transform: translateX(4vw) translateY(50vh) scale(0.49);
    }
    7.6923076923% {
      transform: translateX(47vw) translateY(13vh) scale(0.52);
    }
    11.5384615385% {
      transform: translateX(-31vw) translateY(26vh) scale(0.86);
    }
    15.3846153846% {
      transform: translateX(-13vw) translateY(33vh) scale(1);
    }
    19.2307692308% {
      transform: translateX(-38vw) translateY(-23vh) scale(0.27);
    }
    23.0769230769% {
      transform: translateX(41vw) translateY(14vh) scale(0.78);
    }
    26.9230769231% {
      transform: translateX(-15vw) translateY(-24vh) scale(0.86);
    }
    30.7692307692% {
      transform: translateX(9vw) translateY(-34vh) scale(0.38);
    }
    34.6153846154% {
      transform: translateX(49vw) translateY(-42vh) scale(0.51);
    }
    38.4615384615% {
      transform: translateX(-46vw) translateY(-2vh) scale(0.86);
    }
    42.3076923077% {
      transform: translateX(-25vw) translateY(49vh) scale(0.73);
    }
    46.1538461538% {
      transform: translateX(35vw) translateY(14vh) scale(0.96);
    }
    50% {
      transform: translateX(-33vw) translateY(-19vh) scale(0.49);
    }
    53.8461538462% {
      transform: translateX(40vw) translateY(-38vh) scale(0.6);
    }
    57.6923076923% {
      transform: translateX(-2vw) translateY(-13vh) scale(0.6);
    }
    61.5384615385% {
      transform: translateX(-36vw) translateY(-18vh) scale(0.34);
    }
    65.3846153846% {
      transform: translateX(10vw) translateY(-45vh) scale(0.74);
    }
    69.2307692308% {
      transform: translateX(26vw) translateY(-18vh) scale(0.88);
    }
    73.0769230769% {
      transform: translateX(-12vw) translateY(-43vh) scale(0.76);
    }
    76.9230769231% {
      transform: translateX(37vw) translateY(40vh) scale(0.49);
    }
    80.7692307692% {
      transform: translateX(-38vw) translateY(35vh) scale(0.33);
    }
    84.6153846154% {
      transform: translateX(-31vw) translateY(-48vh) scale(0.96);
    }
    88.4615384615% {
      transform: translateX(-20vw) translateY(-12vh) scale(0.58);
    }
    92.3076923077% {
      transform: translateX(5vw) translateY(-43vh) scale(0.69);
    }
    96.1538461538% {
      transform: translateX(-41vw) translateY(7vh) scale(0.3);
    }
    100% {
      transform: translateX(-33vw) translateY(36vh) scale(0.59);
    }
  }
  .firefly:nth-child(3) {
    animation-name: move3;
  }
  .firefly:nth-child(3)::before {
    animation-duration: 9s;
  }
  .firefly:nth-child(3)::after {
    animation-duration: 9s, 8847ms;
    animation-delay: 0ms, 3283ms;
  }
  
  @keyframes move3 {
    0% {
      transform: translateX(21vw) translateY(-25vh) scale(0.94);
    }
    3.8461538462% {
      transform: translateX(-36vw) translateY(23vh) scale(0.64);
    }
    7.6923076923% {
      transform: translateX(32vw) translateY(33vh) scale(0.8);
    }
    11.5384615385% {
      transform: translateX(27vw) translateY(-10vh) scale(0.8);
    }
    15.3846153846% {
      transform: translateX(35vw) translateY(-28vh) scale(0.95);
    }
    19.2307692308% {
      transform: translateX(39vw) translateY(41vh) scale(0.32);
    }
    23.0769230769% {
      transform: translateX(13vw) translateY(-19vh) scale(0.38);
    }
    26.9230769231% {
      transform: translateX(20vw) translateY(-22vh) scale(0.43);
    }
    30.7692307692% {
      transform: translateX(23vw) translateY(6vh) scale(0.63);
    }
    34.6153846154% {
      transform: translateX(10vw) translateY(14vh) scale(0.71);
    }
    38.4615384615% {
      transform: translateX(-45vw) translateY(0vh) scale(0.8);
    }
    42.3076923077% {
      transform: translateX(41vw) translateY(-20vh) scale(0.93);
    }
    46.1538461538% {
      transform: translateX(20vw) translateY(-46vh) scale(0.52);
    }
    50% {
      transform: translateX(-31vw) translateY(24vh) scale(0.34);
    }
    53.8461538462% {
      transform: translateX(-37vw) translateY(36vh) scale(0.42);
    }
    57.6923076923% {
      transform: translateX(12vw) translateY(47vh) scale(0.62);
    }
    61.5384615385% {
      transform: translateX(-7vw) translateY(43vh) scale(0.97);
    }
    65.3846153846% {
      transform: translateX(41vw) translateY(3vh) scale(0.68);
    }
    69.2307692308% {
      transform: translateX(34vw) translateY(-38vh) scale(0.36);
    }
    73.0769230769% {
      transform: translateX(19vw) translateY(24vh) scale(0.56);
    }
    76.9230769231% {
      transform: translateX(8vw) translateY(27vh) scale(0.43);
    }
    80.7692307692% {
      transform: translateX(34vw) translateY(26vh) scale(0.8);
    }
    84.6153846154% {
      transform: translateX(-7vw) translateY(-8vh) scale(0.44);
    }
    88.4615384615% {
      transform: translateX(-11vw) translateY(26vh) scale(0.33);
    }
    92.3076923077% {
      transform: translateX(-22vw) translateY(-48vh) scale(0.41);
    }
    96.1538461538% {
      transform: translateX(3vw) translateY(3vh) scale(0.8);
    }
    100% {
      transform: translateX(-36vw) translateY(15vh) scale(0.86);
    }
  }
  .firefly:nth-child(4) {
    animation-name: move4;
  }
  .firefly:nth-child(4)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(4)::after {
    animation-duration: 17s, 10326ms;
    animation-delay: 0ms, 6709ms;
  }
  
  @keyframes move4 {
    0% {
      transform: translateX(43vw) translateY(-27vh) scale(0.59);
    }
    4% {
      transform: translateX(17vw) translateY(-19vh) scale(0.6);
    }
    8% {
      transform: translateX(15vw) translateY(26vh) scale(0.38);
    }
    12% {
      transform: translateX(-1vw) translateY(-6vh) scale(0.85);
    }
    16% {
      transform: translateX(43vw) translateY(8vh) scale(0.35);
    }
    20% {
      transform: translateX(27vw) translateY(-34vh) scale(1);
    }
    24% {
      transform: translateX(42vw) translateY(-17vh) scale(0.71);
    }
    28% {
      transform: translateX(3vw) translateY(21vh) scale(0.83);
    }
    32% {
      transform: translateX(26vw) translateY(-45vh) scale(0.7);
    }
    36% {
      transform: translateX(10vw) translateY(50vh) scale(0.33);
    }
    40% {
      transform: translateX(-40vw) translateY(-10vh) scale(0.73);
    }
    44% {
      transform: translateX(-17vw) translateY(6vh) scale(0.37);
    }
    48% {
      transform: translateX(3vw) translateY(-16vh) scale(0.88);
    }
    52% {
      transform: translateX(-35vw) translateY(29vh) scale(0.53);
    }
    56% {
      transform: translateX(-22vw) translateY(49vh) scale(0.84);
    }
    60% {
      transform: translateX(-20vw) translateY(-17vh) scale(0.78);
    }
    64% {
      transform: translateX(6vw) translateY(5vh) scale(0.3);
    }
    68% {
      transform: translateX(39vw) translateY(-6vh) scale(0.51);
    }
    72% {
      transform: translateX(18vw) translateY(-44vh) scale(0.95);
    }
    76% {
      transform: translateX(13vw) translateY(10vh) scale(0.69);
    }
    80% {
      transform: translateX(-4vw) translateY(36vh) scale(0.31);
    }
    84% {
      transform: translateX(-48vw) translateY(-24vh) scale(0.62);
    }
    88% {
      transform: translateX(-46vw) translateY(-41vh) scale(0.74);
    }
    92% {
      transform: translateX(-36vw) translateY(17vh) scale(0.4);
    }
    96% {
      transform: translateX(-10vw) translateY(-14vh) scale(0.31);
    }
    100% {
      transform: translateX(43vw) translateY(-40vh) scale(0.59);
    }
  }
  .firefly:nth-child(5) {
    animation-name: move5;
  }
  .firefly:nth-child(5)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(5)::after {
    animation-duration: 13s, 5122ms;
    animation-delay: 0ms, 5441ms;
  }
  
  @keyframes move5 {
    0% {
      transform: translateX(48vw) translateY(-47vh) scale(0.31);
    }
    4.7619047619% {
      transform: translateX(34vw) translateY(0vh) scale(0.75);
    }
    9.5238095238% {
      transform: translateX(39vw) translateY(-20vh) scale(0.89);
    }
    14.2857142857% {
      transform: translateX(20vw) translateY(34vh) scale(0.78);
    }
    19.0476190476% {
      transform: translateX(-3vw) translateY(17vh) scale(0.37);
    }
    23.8095238095% {
      transform: translateX(39vw) translateY(-26vh) scale(0.54);
    }
    28.5714285714% {
      transform: translateX(-38vw) translateY(-15vh) scale(0.78);
    }
    33.3333333333% {
      transform: translateX(29vw) translateY(-23vh) scale(0.45);
    }
    38.0952380952% {
      transform: translateX(4vw) translateY(-44vh) scale(0.93);
    }
    42.8571428571% {
      transform: translateX(40vw) translateY(10vh) scale(0.46);
    }
    47.619047619% {
      transform: translateX(-15vw) translateY(29vh) scale(0.37);
    }
    52.380952381% {
      transform: translateX(21vw) translateY(-19vh) scale(0.27);
    }
    57.1428571429% {
      transform: translateX(-2vw) translateY(-25vh) scale(0.63);
    }
    61.9047619048% {
      transform: translateX(39vw) translateY(17vh) scale(0.35);
    }
    66.6666666667% {
      transform: translateX(14vw) translateY(20vh) scale(0.41);
    }
    71.4285714286% {
      transform: translateX(-22vw) translateY(-46vh) scale(0.96);
    }
    76.1904761905% {
      transform: translateX(-27vw) translateY(31vh) scale(0.71);
    }
    80.9523809524% {
      transform: translateX(-17vw) translateY(1vh) scale(0.99);
    }
    85.7142857143% {
      transform: translateX(49vw) translateY(25vh) scale(0.7);
    }
    90.4761904762% {
      transform: translateX(-20vw) translateY(38vh) scale(0.27);
    }
    95.2380952381% {
      transform: translateX(38vw) translateY(4vh) scale(0.41);
    }
    100% {
      transform: translateX(31vw) translateY(23vh) scale(0.45);
    }
  }
  .firefly:nth-child(6) {
    animation-name: move6;
  }
  .firefly:nth-child(6)::before {
    animation-duration: 10s;
  }
  .firefly:nth-child(6)::after {
    animation-duration: 10s, 7549ms;
    animation-delay: 0ms, 6384ms;
  }
  
  @keyframes move6 {
    0% {
      transform: translateX(-20vw) translateY(-2vh) scale(0.53);
    }
    5.8823529412% {
      transform: translateX(-46vw) translateY(-49vh) scale(0.69);
    }
    11.7647058824% {
      transform: translateX(25vw) translateY(0vh) scale(0.4);
    }
    17.6470588235% {
      transform: translateX(-41vw) translateY(-4vh) scale(0.93);
    }
    23.5294117647% {
      transform: translateX(37vw) translateY(44vh) scale(0.89);
    }
    29.4117647059% {
      transform: translateX(44vw) translateY(33vh) scale(0.98);
    }
    35.2941176471% {
      transform: translateX(49vw) translateY(28vh) scale(1);
    }
    41.1764705882% {
      transform: translateX(-32vw) translateY(-44vh) scale(0.68);
    }
    47.0588235294% {
      transform: translateX(12vw) translateY(47vh) scale(0.72);
    }
    52.9411764706% {
      transform: translateX(20vw) translateY(-11vh) scale(0.32);
    }
    58.8235294118% {
      transform: translateX(-21vw) translateY(8vh) scale(0.68);
    }
    64.7058823529% {
      transform: translateX(-41vw) translateY(-20vh) scale(0.32);
    }
    70.5882352941% {
      transform: translateX(48vw) translateY(-10vh) scale(0.61);
    }
    76.4705882353% {
      transform: translateX(29vw) translateY(28vh) scale(0.71);
    }
    82.3529411765% {
      transform: translateX(42vw) translateY(45vh) scale(0.42);
    }
    88.2352941176% {
      transform: translateX(17vw) translateY(31vh) scale(0.52);
    }
    94.1176470588% {
      transform: translateX(-23vw) translateY(50vh) scale(0.99);
    }
    100% {
      transform: translateX(26vw) translateY(26vh) scale(0.61);
    }
  }
  .firefly:nth-child(7) {
    animation-name: move7;
  }
  .firefly:nth-child(7)::before {
    animation-duration: 9s;
  }
  .firefly:nth-child(7)::after {
    animation-duration: 9s, 9492ms;
    animation-delay: 0ms, 8422ms;
  }
  
  @keyframes move7 {
    0% {
      transform: translateX(17vw) translateY(22vh) scale(0.81);
    }
    5.8823529412% {
      transform: translateX(40vw) translateY(31vh) scale(0.87);
    }
    11.7647058824% {
      transform: translateX(-31vw) translateY(-22vh) scale(0.81);
    }
    17.6470588235% {
      transform: translateX(19vw) translateY(49vh) scale(0.91);
    }
    23.5294117647% {
      transform: translateX(21vw) translateY(24vh) scale(0.9);
    }
    29.4117647059% {
      transform: translateX(-32vw) translateY(-43vh) scale(0.53);
    }
    35.2941176471% {
      transform: translateX(-10vw) translateY(17vh) scale(0.54);
    }
    41.1764705882% {
      transform: translateX(-14vw) translateY(34vh) scale(0.58);
    }
    47.0588235294% {
      transform: translateX(-29vw) translateY(-35vh) scale(0.57);
    }
    52.9411764706% {
      transform: translateX(-32vw) translateY(44vh) scale(0.79);
    }
    58.8235294118% {
      transform: translateX(-45vw) translateY(28vh) scale(0.45);
    }
    64.7058823529% {
      transform: translateX(27vw) translateY(-49vh) scale(0.56);
    }
    70.5882352941% {
      transform: translateX(-26vw) translateY(-23vh) scale(0.38);
    }
    76.4705882353% {
      transform: translateX(-25vw) translateY(-21vh) scale(0.33);
    }
    82.3529411765% {
      transform: translateX(-27vw) translateY(-45vh) scale(0.67);
    }
    88.2352941176% {
      transform: translateX(-27vw) translateY(27vh) scale(0.47);
    }
    94.1176470588% {
      transform: translateX(-31vw) translateY(-8vh) scale(0.77);
    }
    100% {
      transform: translateX(17vw) translateY(48vh) scale(1);
    }
  }
  .firefly:nth-child(8) {
    animation-name: move8;
  }
  .firefly:nth-child(8)::before {
    animation-duration: 12s;
  }
  .firefly:nth-child(8)::after {
    animation-duration: 12s, 7892ms;
    animation-delay: 0ms, 3318ms;
  }
  
  @keyframes move8 {
    0% {
      transform: translateX(-28vw) translateY(-3vh) scale(0.79);
    }
    5% {
      transform: translateX(29vw) translateY(26vh) scale(0.95);
    }
    10% {
      transform: translateX(-7vw) translateY(-29vh) scale(0.69);
    }
    15% {
      transform: translateX(20vw) translateY(-41vh) scale(0.72);
    }
    20% {
      transform: translateX(-7vw) translateY(19vh) scale(0.73);
    }
    25% {
      transform: translateX(45vw) translateY(-31vh) scale(0.83);
    }
    30% {
      transform: translateX(14vw) translateY(38vh) scale(0.5);
    }
    35% {
      transform: translateX(0vw) translateY(-39vh) scale(0.65);
    }
    40% {
      transform: translateX(48vw) translateY(-25vh) scale(0.28);
    }
    45% {
      transform: translateX(15vw) translateY(-20vh) scale(0.45);
    }
    50% {
      transform: translateX(20vw) translateY(-29vh) scale(0.79);
    }
    55% {
      transform: translateX(9vw) translateY(-18vh) scale(0.74);
    }
    60% {
      transform: translateX(-7vw) translateY(37vh) scale(0.79);
    }
    65% {
      transform: translateX(-2vw) translateY(-48vh) scale(0.78);
    }
    70% {
      transform: translateX(-14vw) translateY(40vh) scale(0.3);
    }
    75% {
      transform: translateX(-33vw) translateY(28vh) scale(0.63);
    }
    80% {
      transform: translateX(-9vw) translateY(11vh) scale(0.77);
    }
    85% {
      transform: translateX(32vw) translateY(0vh) scale(0.99);
    }
    90% {
      transform: translateX(38vw) translateY(9vh) scale(0.37);
    }
    95% {
      transform: translateX(-11vw) translateY(-39vh) scale(0.94);
    }
    100% {
      transform: translateX(-45vw) translateY(49vh) scale(0.34);
    }
  }
  .firefly:nth-child(9) {
    animation-name: move9;
  }
  .firefly:nth-child(9)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(9)::after {
    animation-duration: 11s, 10910ms;
    animation-delay: 0ms, 2354ms;
  }
  
  @keyframes move9 {
    0% {
      transform: translateX(48vw) translateY(7vh) scale(0.41);
    }
    4.7619047619% {
      transform: translateX(-7vw) translateY(19vh) scale(0.3);
    }
    9.5238095238% {
      transform: translateX(35vw) translateY(29vh) scale(0.87);
    }
    14.2857142857% {
      transform: translateX(40vw) translateY(12vh) scale(0.64);
    }
    19.0476190476% {
      transform: translateX(-46vw) translateY(12vh) scale(0.29);
    }
    23.8095238095% {
      transform: translateX(-12vw) translateY(42vh) scale(0.96);
    }
    28.5714285714% {
      transform: translateX(46vw) translateY(39vh) scale(0.88);
    }
    33.3333333333% {
      transform: translateX(28vw) translateY(-8vh) scale(0.3);
    }
    38.0952380952% {
      transform: translateX(41vw) translateY(-20vh) scale(0.65);
    }
    42.8571428571% {
      transform: translateX(34vw) translateY(-3vh) scale(0.68);
    }
    47.619047619% {
      transform: translateX(-37vw) translateY(27vh) scale(0.95);
    }
    52.380952381% {
      transform: translateX(16vw) translateY(43vh) scale(0.84);
    }
    57.1428571429% {
      transform: translateX(-8vw) translateY(45vh) scale(0.57);
    }
    61.9047619048% {
      transform: translateX(1vw) translateY(-2vh) scale(0.92);
    }
    66.6666666667% {
      transform: translateX(19vw) translateY(-34vh) scale(0.66);
    }
    71.4285714286% {
      transform: translateX(27vw) translateY(-13vh) scale(0.62);
    }
    76.1904761905% {
      transform: translateX(37vw) translateY(10vh) scale(0.39);
    }
    80.9523809524% {
      transform: translateX(44vw) translateY(-7vh) scale(0.44);
    }
    85.7142857143% {
      transform: translateX(-8vw) translateY(-21vh) scale(0.49);
    }
    90.4761904762% {
      transform: translateX(32vw) translateY(16vh) scale(0.6);
    }
    95.2380952381% {
      transform: translateX(-1vw) translateY(-49vh) scale(0.55);
    }
    100% {
      transform: translateX(-36vw) translateY(50vh) scale(0.66);
    }
  }
  .firefly:nth-child(10) {
    animation-name: move10;
  }
  .firefly:nth-child(10)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(10)::after {
    animation-duration: 17s, 8876ms;
    animation-delay: 0ms, 743ms;
  }
  
  @keyframes move10 {
    0% {
      transform: translateX(-5vw) translateY(-30vh) scale(0.88);
    }
    5.8823529412% {
      transform: translateX(-21vw) translateY(-6vh) scale(0.56);
    }
    11.7647058824% {
      transform: translateX(-45vw) translateY(48vh) scale(0.79);
    }
    17.6470588235% {
      transform: translateX(-9vw) translateY(27vh) scale(0.98);
    }
    23.5294117647% {
      transform: translateX(33vw) translateY(43vh) scale(0.36);
    }
    29.4117647059% {
      transform: translateX(9vw) translateY(-23vh) scale(0.94);
    }
    35.2941176471% {
      transform: translateX(2vw) translateY(39vh) scale(0.34);
    }
    41.1764705882% {
      transform: translateX(-40vw) translateY(-21vh) scale(0.26);
    }
    47.0588235294% {
      transform: translateX(-30vw) translateY(-6vh) scale(0.84);
    }
    52.9411764706% {
      transform: translateX(-13vw) translateY(-22vh) scale(0.84);
    }
    58.8235294118% {
      transform: translateX(3vw) translateY(-48vh) scale(0.39);
    }
    64.7058823529% {
      transform: translateX(41vw) translateY(0vh) scale(0.57);
    }
    70.5882352941% {
      transform: translateX(50vw) translateY(-4vh) scale(0.92);
    }
    76.4705882353% {
      transform: translateX(24vw) translateY(11vh) scale(0.87);
    }
    82.3529411765% {
      transform: translateX(21vw) translateY(19vh) scale(0.83);
    }
    88.2352941176% {
      transform: translateX(1vw) translateY(-10vh) scale(0.67);
    }
    94.1176470588% {
      transform: translateX(-17vw) translateY(41vh) scale(0.69);
    }
    100% {
      transform: translateX(32vw) translateY(-23vh) scale(0.86);
    }
  }
  .firefly:nth-child(11) {
    animation-name: move11;
  }
  .firefly:nth-child(11)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(11)::after {
    animation-duration: 13s, 5869ms;
    animation-delay: 0ms, 6624ms;
  }
  
  @keyframes move11 {
    0% {
      transform: translateX(-16vw) translateY(-9vh) scale(0.96);
    }
    5.2631578947% {
      transform: translateX(-46vw) translateY(-23vh) scale(0.86);
    }
    10.5263157895% {
      transform: translateX(-18vw) translateY(27vh) scale(0.47);
    }
    15.7894736842% {
      transform: translateX(0vw) translateY(6vh) scale(0.74);
    }
    21.0526315789% {
      transform: translateX(-29vw) translateY(21vh) scale(0.95);
    }
    26.3157894737% {
      transform: translateX(-41vw) translateY(-15vh) scale(0.4);
    }
    31.5789473684% {
      transform: translateX(26vw) translateY(43vh) scale(0.84);
    }
    36.8421052632% {
      transform: translateX(46vw) translateY(17vh) scale(0.3);
    }
    42.1052631579% {
      transform: translateX(48vw) translateY(3vh) scale(0.75);
    }
    47.3684210526% {
      transform: translateX(19vw) translateY(-8vh) scale(0.95);
    }
    52.6315789474% {
      transform: translateX(-44vw) translateY(-8vh) scale(0.64);
    }
    57.8947368421% {
      transform: translateX(-28vw) translateY(7vh) scale(0.26);
    }
    63.1578947368% {
      transform: translateX(25vw) translateY(43vh) scale(0.36);
    }
    68.4210526316% {
      transform: translateX(-14vw) translateY(-46vh) scale(0.62);
    }
    73.6842105263% {
      transform: translateX(2vw) translateY(-35vh) scale(0.41);
    }
    78.9473684211% {
      transform: translateX(-3vw) translateY(-40vh) scale(0.28);
    }
    84.2105263158% {
      transform: translateX(39vw) translateY(-27vh) scale(0.48);
    }
    89.4736842105% {
      transform: translateX(-44vw) translateY(46vh) scale(0.57);
    }
    94.7368421053% {
      transform: translateX(14vw) translateY(-30vh) scale(0.67);
    }
    100% {
      transform: translateX(-29vw) translateY(30vh) scale(0.32);
    }
  }
  .firefly:nth-child(12) {
    animation-name: move12;
  }
  .firefly:nth-child(12)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(12)::after {
    animation-duration: 11s, 9377ms;
    animation-delay: 0ms, 4155ms;
  }
  
  @keyframes move12 {
    0% {
      transform: translateX(-47vw) translateY(1vh) scale(0.56);
    }
    4.7619047619% {
      transform: translateX(0vw) translateY(42vh) scale(0.51);
    }
    9.5238095238% {
      transform: translateX(37vw) translateY(26vh) scale(0.71);
    }
    14.2857142857% {
      transform: translateX(36vw) translateY(5vh) scale(0.37);
    }
    19.0476190476% {
      transform: translateX(42vw) translateY(11vh) scale(0.52);
    }
    23.8095238095% {
      transform: translateX(43vw) translateY(-36vh) scale(0.73);
    }
    28.5714285714% {
      transform: translateX(48vw) translateY(-1vh) scale(0.38);
    }
    33.3333333333% {
      transform: translateX(50vw) translateY(-39vh) scale(0.98);
    }
    38.0952380952% {
      transform: translateX(49vw) translateY(-40vh) scale(0.41);
    }
    42.8571428571% {
      transform: translateX(38vw) translateY(24vh) scale(0.85);
    }
    47.619047619% {
      transform: translateX(-36vw) translateY(5vh) scale(0.99);
    }
    52.380952381% {
      transform: translateX(-32vw) translateY(-44vh) scale(1);
    }
    57.1428571429% {
      transform: translateX(45vw) translateY(-44vh) scale(0.55);
    }
    61.9047619048% {
      transform: translateX(32vw) translateY(-27vh) scale(0.86);
    }
    66.6666666667% {
      transform: translateX(-8vw) translateY(-21vh) scale(0.74);
    }
    71.4285714286% {
      transform: translateX(-27vw) translateY(43vh) scale(0.46);
    }
    76.1904761905% {
      transform: translateX(22vw) translateY(2vh) scale(0.6);
    }
    80.9523809524% {
      transform: translateX(-27vw) translateY(49vh) scale(0.8);
    }
    85.7142857143% {
      transform: translateX(28vw) translateY(-29vh) scale(0.43);
    }
    90.4761904762% {
      transform: translateX(-48vw) translateY(17vh) scale(0.28);
    }
    95.2380952381% {
      transform: translateX(-6vw) translateY(7vh) scale(1);
    }
    100% {
      transform: translateX(-11vw) translateY(-4vh) scale(0.59);
    }
  }
  .firefly:nth-child(13) {
    animation-name: move13;
  }
  .firefly:nth-child(13)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(13)::after {
    animation-duration: 16s, 10723ms;
    animation-delay: 0ms, 6152ms;
  }
  
  @keyframes move13 {
    0% {
      transform: translateX(-12vw) translateY(25vh) scale(0.27);
    }
    5% {
      transform: translateX(23vw) translateY(0vh) scale(0.5);
    }
    10% {
      transform: translateX(42vw) translateY(41vh) scale(0.88);
    }
    15% {
      transform: translateX(28vw) translateY(50vh) scale(0.79);
    }
    20% {
      transform: translateX(-41vw) translateY(-48vh) scale(0.81);
    }
    25% {
      transform: translateX(2vw) translateY(-20vh) scale(0.36);
    }
    30% {
      transform: translateX(-10vw) translateY(-38vh) scale(0.56);
    }
    35% {
      transform: translateX(-45vw) translateY(18vh) scale(0.53);
    }
    40% {
      transform: translateX(-19vw) translateY(-38vh) scale(0.63);
    }
    45% {
      transform: translateX(43vw) translateY(10vh) scale(0.7);
    }
    50% {
      transform: translateX(33vw) translateY(3vh) scale(0.42);
    }
    55% {
      transform: translateX(-35vw) translateY(19vh) scale(0.56);
    }
    60% {
      transform: translateX(32vw) translateY(18vh) scale(0.3);
    }
    65% {
      transform: translateX(-44vw) translateY(-46vh) scale(0.89);
    }
    70% {
      transform: translateX(-9vw) translateY(15vh) scale(0.87);
    }
    75% {
      transform: translateX(20vw) translateY(-33vh) scale(0.43);
    }
    80% {
      transform: translateX(13vw) translateY(24vh) scale(0.27);
    }
    85% {
      transform: translateX(46vw) translateY(12vh) scale(0.9);
    }
    90% {
      transform: translateX(42vw) translateY(-46vh) scale(0.5);
    }
    95% {
      transform: translateX(42vw) translateY(-6vh) scale(0.77);
    }
    100% {
      transform: translateX(43vw) translateY(41vh) scale(0.27);
    }
  }
  .firefly:nth-child(14) {
    animation-name: move14;
  }
  .firefly:nth-child(14)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(14)::after {
    animation-duration: 14s, 8105ms;
    animation-delay: 0ms, 6720ms;
  }
  
  @keyframes move14 {
    0% {
      transform: translateX(-24vw) translateY(-46vh) scale(0.45);
    }
    5% {
      transform: translateX(-24vw) translateY(-17vh) scale(0.45);
    }
    10% {
      transform: translateX(-15vw) translateY(-4vh) scale(0.48);
    }
    15% {
      transform: translateX(12vw) translateY(12vh) scale(0.46);
    }
    20% {
      transform: translateX(31vw) translateY(26vh) scale(0.39);
    }
    25% {
      transform: translateX(-25vw) translateY(-35vh) scale(0.72);
    }
    30% {
      transform: translateX(-22vw) translateY(-24vh) scale(0.26);
    }
    35% {
      transform: translateX(38vw) translateY(-19vh) scale(0.58);
    }
    40% {
      transform: translateX(-18vw) translateY(36vh) scale(0.97);
    }
    45% {
      transform: translateX(-8vw) translateY(30vh) scale(0.77);
    }
    50% {
      transform: translateX(-37vw) translateY(-31vh) scale(0.8);
    }
    55% {
      transform: translateX(-3vw) translateY(26vh) scale(0.62);
    }
    60% {
      transform: translateX(-12vw) translateY(50vh) scale(0.88);
    }
    65% {
      transform: translateX(-2vw) translateY(32vh) scale(0.29);
    }
    70% {
      transform: translateX(-46vw) translateY(25vh) scale(0.38);
    }
    75% {
      transform: translateX(-35vw) translateY(-43vh) scale(0.48);
    }
    80% {
      transform: translateX(-39vw) translateY(38vh) scale(0.27);
    }
    85% {
      transform: translateX(-29vw) translateY(19vh) scale(0.94);
    }
    90% {
      transform: translateX(-26vw) translateY(-37vh) scale(1);
    }
    95% {
      transform: translateX(-47vw) translateY(2vh) scale(0.55);
    }
    100% {
      transform: translateX(31vw) translateY(-5vh) scale(0.53);
    }
  }
  .firefly:nth-child(15) {
    animation-name: move15;
  }
  .firefly:nth-child(15)::before {
    animation-duration: 10s;
  }
  .firefly:nth-child(15)::after {
    animation-duration: 10s, 5916ms;
    animation-delay: 0ms, 6411ms;
  }
  
  @keyframes move15 {
    0% {
      transform: translateX(-41vw) translateY(8vh) scale(0.27);
    }
    4% {
      transform: translateX(24vw) translateY(-17vh) scale(0.38);
    }
    8% {
      transform: translateX(-13vw) translateY(-9vh) scale(0.26);
    }
    12% {
      transform: translateX(28vw) translateY(34vh) scale(0.55);
    }
    16% {
      transform: translateX(-47vw) translateY(-28vh) scale(0.68);
    }
    20% {
      transform: translateX(22vw) translateY(23vh) scale(0.56);
    }
    24% {
      transform: translateX(6vw) translateY(-42vh) scale(0.33);
    }
    28% {
      transform: translateX(-18vw) translateY(-25vh) scale(0.59);
    }
    32% {
      transform: translateX(-26vw) translateY(-25vh) scale(0.36);
    }
    36% {
      transform: translateX(0vw) translateY(-23vh) scale(0.84);
    }
    40% {
      transform: translateX(38vw) translateY(-24vh) scale(0.35);
    }
    44% {
      transform: translateX(14vw) translateY(50vh) scale(0.96);
    }
    48% {
      transform: translateX(27vw) translateY(28vh) scale(0.54);
    }
    52% {
      transform: translateX(-8vw) translateY(-40vh) scale(0.44);
    }
    56% {
      transform: translateX(-43vw) translateY(-14vh) scale(0.73);
    }
    60% {
      transform: translateX(20vw) translateY(-16vh) scale(0.51);
    }
    64% {
      transform: translateX(16vw) translateY(-11vh) scale(0.85);
    }
    68% {
      transform: translateX(11vw) translateY(-41vh) scale(0.7);
    }
    72% {
      transform: translateX(26vw) translateY(6vh) scale(0.74);
    }
    76% {
      transform: translateX(-25vw) translateY(44vh) scale(0.44);
    }
    80% {
      transform: translateX(-47vw) translateY(-23vh) scale(0.82);
    }
    84% {
      transform: translateX(37vw) translateY(-49vh) scale(0.87);
    }
    88% {
      transform: translateX(0vw) translateY(25vh) scale(0.33);
    }
    92% {
      transform: translateX(50vw) translateY(-25vh) scale(0.37);
    }
    96% {
      transform: translateX(1vw) translateY(-23vh) scale(0.67);
    }
    100% {
      transform: translateX(44vw) translateY(28vh) scale(0.33);
    }
  }
  @keyframes drift {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes flash {
    0%, 30%, 100% {
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
      opacity: 1;
      box-shadow: 0 0 2vw 0.4vw yellow;
    }
  }




