

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
  }


body{

    font-family: 'Montserrat', sans-serif;
}

.jafar{
    text-align: left;
}

header{
    position:sticky;
    top: 0;
    z-index: 5;
    animation: fadeIn 2s forwards;
}
.fullstack{
 text-align: left;
}

span {
    color: gold;
}

.image1{
  width: 250px;
  height: 380px;
}

.intro{
    text-align: left;
}

.learnMore{

width: 200px;
}

main{
    animation: fadeIn 2s forwards;
}


/* .qualification{
    height: 420px;
} */

.containerMiddle{
   background-color: rgb(58, 14, 101);
   padding-top: 50px;
   padding-bottom: 50px;
   

}

.section-1 {
	margin: 40px 20px 20px 20px;
	border-radius: 10px;
	background-size: cover;
}

.card {
	color:black;
	margin: 20px;
  
	border-radius: 20px;
	border-width: 3px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgb(51, 0, 255);
	outline-offset: -2px;
 	transition: all 0.5s ease-in-out;
}
.card:hover {
	transform: scale(1.2);
	z-index: 2;
}


.h4middle{
    margin-bottom: 50px;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}

.contactMe{

    margin-top: 100px;
    margin-bottom:150px;
}
.contactMeCards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
    position: relative;
}
.h2contactMe{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;

}

.ContactButton{
    width: 300px;
    font-size: 36px;
    align-content: center;
    
}

.material-icons{
    margin-right: 5px;
}
.fa-github{
    margin-right: 5px;
}


.material-icons{
    position: absolute;
    margin-top: 11px;
    margin-left:-38px;
}

footer{
    margin-top: 80px;
    color: white;
    
}

  
header a:hover {
    background-color: rgb(96, 167, 221);
   
    border-radius: 8px;
  }

  footer a:hover {
    background-color: rgb(74, 73, 73);
   
    border-radius: 8px;
  }

@keyframes fadeIn {
    from{
         opacity: 0;
         transform:translateY(-2em)
    }
    to {
         opacity: 1;
         transform: translateY(0);
    }
}

@media (max-width:576px) {
    .contactMeCards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}