

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');



html {
    scroll-behavior: smooth;
  }


body{

    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.jafar{
    text-align: left;
}

header{
    position:sticky;
    top: 0;
    z-index: 5;
}
.fullstack{
 text-align: left;
 opacity: 0;
 transform:translateY(2rem);
 animation: fadeInup 2s forwards 4s;
}

span {
    color: gold;
}

.section1intro{

    background-color: black;
}
.image1{
    
  width: 395px;
  height: 380px;
}

.intro{
    text-align: left;
}

.learnMore{

width: 200px;
}

body{
    animation: fadeIn 1s ease-in-out;
}



.containerMiddle{
   background-color: rgb(58, 14, 101);
   padding-top: 50px;
   padding-bottom: 50px;
   

}

.section-1 {
	margin: 40px 20px 20px 20px;
	border-radius: 10px;
	background-size: cover;
  
}

.card {
	color:black;
	margin: 20px;
    outline: auto;
	border-radius: 20px;
	border-width: 3px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgb(51, 0, 255);
	outline-offset: -2px;
 	transition: all 0.5s ease-in-out;
}
.card:hover {
	transform: scale(1.2);
	z-index: 2;
}

nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 3px rgb(51, 0, 255);
}
.h4middle{
    margin-bottom: 50px;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}





.contactMe{
  
    margin-bottom:50px;
    padding: 50px;
}
.contactMeCards{
    display: flex;
    justify-content: space-around;
   margin-top: -80px;
    position: relative;
}
.h2contactMe{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;

}

.ContactButton{
    width: 300px;
    font-size: 36px;
    align-content: center;
        
}

.material-icons{
    margin-right: 5px;
}
.fa-github{
    margin-right: 5px;
}


.material-icons{
    position: absolute;
    margin-top: 11px;
    margin-left:-38px;
}

footer{
    
    margin-top: 30px;
    color: white;
    align-items: center;
    text-align: center;
    
}

/* Back To Top Anchor start here */

.to-top{
    
    align-items: center;
    text-align: center;
	color:white;
	padding-top:1.8em;
	display:inline-block;
	position:relative;
	border-color:white;
	text-decoration:none;
	transition:all .3s ease-out;
}
.to-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em white;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:pink;
	border-color:pink;
}
.to-top:hover:before{
	transform: rotate(360deg);
}

  /* Back To Top Anchor End here */
header a:hover {
    background-color: rgb(96, 167, 221);
   
    border-radius: 8px;
  }


.unlistBottom{
    align-items: center;
}

  /* Typing start here */
h1{
    font-size: 2rem;
    font-family:"source Code pro";
    position: relative;
    width: max-content;
}
h1::before,h1::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left:0;
}

h1::before{
    background: black;
    animation: typewriter 3s steps(23) 1s forwards;
}

h1::after{
    width: 0.125em;
    background-color: rgb(48, 116, 250);
    animation:
     typewriter 3s steps(23) 1s forwards,
      jump 750ms steps(23) infinite ;
}


@keyframes typewriter {
       to{
        left: 100%;
       }

}
@keyframes jump{
    to {
        background: transparent;
    }
}

@keyframes fadeInup{
    to{
        opacity: 1;
        transform: translateY(0);
    }

}






/* Typing End here */



@keyframes fadeIn {
    from{
         opacity: 0;
         transform:translateY(-2em)
    }
    to {
         opacity: 1;
         transform: translateY(0);
    }
}

@media (max-width:576px) {
    .contactMeCards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .page2firstContainer{
        flex-direction: column;
        align-items: right;
        
     
    }
    .unlistBottom{
      justify-content: center;
    }

    .myCurrentStatus,.myCurrentPosH5,.Description,.PLH5{
        width: 250px;
    }

    .ProjectsulContainer{
        flex-direction: column;
    
    }
    .pLanguages{
        margin-left: -20px;

    }
    
    .positionStarted{
        font-size:small;
    }
   }


@media (max-width:676px){
.image1{
    width: 185px;
    height: 190px;
}
}


@media (max-width:485px) {
    .image1{
      width: 85px;
      height: 85px;
    }
}


@media (max-width:380px) {
    .image1{
      width: 50px;
      height: 50px;
    }
}

@media (max-width:890px) {
    .image1{
      width: 10rem;
      height: 10rem;
    }
}

@media (max-width:675px) {
    .image1{
      width: 5rem;
      height: 5rem;
    }
    .jafar{
        font-size: 18px;
    }
    .fullstack{
        font-size: 14px
    }
}

@media (max-width:410px) {
    .image1{
        width: 2.5rem;
        height: 3.5rem;
    }
    .jafar{
        font-size: 16px;
    }
    .fullstack{
        font-size: 12px
    }
    .learnMore{
        font-size: 12px;
    }
    .my-Resume{
        width:60%;
        height: 70%;
      
    }
   
}

@media (max-width:344px) {
    .image1{
        width: 1.3rem;
        height: 1.8rem;
    }
    .jafar{
        font-size: 14px;
    }
    .fullstack{
        font-size: 10px
    }
    .learnMore{
        font-size: 12px;
    }
}

/*---------------------------------------- Page 2 (About Me)---------------------------------------- */


.myCurrentStatus{
    width: 650px;
}

.profilePic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
}



.myCurrentPosH5{
    margin-left: -3px;
}
.pLanguages{
    width: 500px;
}

.positionsAndDes{
    font-weight: bolder;
    font-size: larger;
}


/* -------------------Download button start here-------------------------- */

.dnbtn {
    border: 2px solid white;
    border-radius: 50px;
    position: absolute;
    color: #0ff;
    display: inline;
    transform: translate(-50%, -50%);
    padding: 25px 0 0 0;
    width: 50px;
    height: 25px;
    text-decoration: none;
    transition: .3s;
  }
  
  .cloudDownload{
    width: 2rem;
    height: 2rem;
    margin-top: -30px;
  }
  .dnbtn:before {
	font-family: FontAwesome;
	font-style: normal;
	content: '\f019';
	font-size: 26px;
	color: white;
	position: absolute;
	transform: translate(-50%, -50%);
	transition: 0.3s;
}
  
  .dnbtn:hover:before {
    display: none;
  }
  
  .dnbtn:hover:after {
    font-family: Prompt;
    content: 'Download My Resume';
    color: white;
    font-size: 18px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: .3s;
    animation: fadein .3s;
  }
  
  .dnbtn:hover {
    width: 390px;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.facyButton{
    position: relative;
    margin: 50px;
}




/*------------------- Download button end here--------------------------- */
.my-Resume:hover{
    background-color: white;
    color: black;
}
.experiance{
    background-color: rgb(255, 255, 255);
    color: black;
    opacity:65%;
    border-radius: 12px;
}

.experiancesContainer p,h5,ul{
 margin-left: 20px;
}
.experiancesContainer{
    margin-top: 100px;
    margin-bottom: 100px;
}
/* .ProjectsContainer{
    height: 400px;
    margin-top: 100px;
    margin-bottom: 300px;
    background-size: cover;
} */

.ProjectsContainer a{
    text-decoration: none;
    color: white;
}

.ProjectsContainer a:hover{
    background-color: rgb(96, 167, 221);
   
}
.ProjectsP2Container{
text-align: right;
}